
@media only screen and (max-width: 991px) {
        .ui.fixed.menu {
          display: none !important;
        }
       
}

.section-title{
    color:#410936;
    font-size:4em;
    font-weight:thin;
    font-size-adjust: 100%;
    text-align:center;
}

.section-subtitle{
    color:#410936;
    font-size:2em;
    font-weight:thin;
    font-size-adjust: 100%;
    text-align:center;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
        .section-title {
          font-size:3em;
          text-align:left;
        }
       
       .section-subtitle {
          font-size:1.5em;
          text-align:left;
        }
}

@media only screen and (max-width: 767px){
        .section-title {
          font-size:2em;
           text-align:left;
        }
       
       .section-subtitle {
          font-size:1em;
           text-align:left;
        }
}

.container.banner{
background-image: url("./../img/banner.jpg");
background-repeat: no-repeat;
background-position: center;
background-origin: border-box;
background-size: cover;
height:700px;
width:100%;
}
.container.banner .dimmerback{
background-color:rgba(100,100,100,0.5); 
height:100%;

}
.container.banner .content{
    padding-left:50px;
padding-right:50px;
}
.container.banner .caption{

color:#f0b300;
font-weight:100;
font-stretch:100%;
padding-top:100px;
font-size:5.5em;
}

.container.banner .caption.tablet.only{
padding-top:150px;
font-size:3.5em;
}

.container.banner .caption.mobile.only{
padding-top:100px;
font-size:2em;
}

.container.banner .caption.computer.only{
padding-top:150px;
font-size:4em;
}

.container.banner .sub-caption{
    color:white;
    font-size: 3em;
}

.container.banner .sub-caption.mobile.only{
      font-size: 1.5em;
}

.container.banner .sub-caption.computer.only{
      font-size: 2em;
}


.grid.photo-grid{
    padding-top:30px;
}


.photo-grid .photo-grid_item{
background-repeat: no-repeat;
background-position: center;
background-origin: border-box;
background-size: cover;
height:200px;
width:100%;
}

.photo-grid .photo-grid_item#image1{
background-image: url("./../img/image1.jpeg");
}

.photo-grid .photo-grid_item#image2{
background-image: url("./../img/image2.jpeg");
height:300px;
}

.photo-grid .photo-grid_item#image3{
background-image: url("./../img/image3.jpeg");
height:300px;
}

.photo-grid .photo-grid_item#image4{
background-image: url("./../img/image4.jpeg");
height:250px;
}

.photo-grid .photo-grid_item#image5{
background-image: url("./../img/image5.jpeg");

}

.photo-grid .photo-grid_item#image6{
background-image: url("./../img/image6.jpeg");

}

.photo-grid .photo-grid_item#image7{
background-image: url("./../img/image7.jpeg");

}

.photo-grid .photo-grid_item#image8{
background-image: url("./../img/image8.jpeg");

}

.photo-grid .photo-grid_item#image9{
background-image: url("./../img/image9.jpeg");

}

.photo-grid .photo-grid_item#image10{
background-image: url("./../img/image10.jpeg");

}

.photo-grid .photo-grid_item#image11{
background-image: url("./../img/image11.jpeg");

}

.photo-grid .photo-grid_item#image12{
background-image: url("./../img/image12.jpeg");

}

.ui.carousal{
height:80%;
position: absolute;

}

.ui.carousal .ui.segment.carousal-item-container{
    height:100%;
}

.ui.carousal .ui.segment .carousal-item{
background-repeat: no-repeat;
background-position: center;
background-origin: border-box;
background-size: auto;
height:100%;


}

.address p{
    padding:0;
    margin:0;
}